<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>이영진 포트폴리오</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">개발자 이영진</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Skills</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Project</a>
      </li>
      <!--<li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>-->
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">안녕하세요 이영진입니다.</h1>
      <h2 class="mb-3">뭐든지 해보면 좋은 경험이 된다!</h2>
      <h3 class="mb-5">
        01047496024 | <a href="mailto:dldudwls991013@gmail.com" style="color:rgb(20, 20, 20)">dldudwls991013@gmail.com</a>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">포트폴리오 살펴보기</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-20 mx-auto">
          <h2>교육 배경</h2>
          <p class="lead mb-5">한국뉴욕주립대학교 | 컴퓨터과학 전공 | 2018년 입학 | 2024년도 졸업 예정</p>
          <h2>근무 경험</h2>
          <p class="lead mb-5">제 6차 OECD 포럼 진행요원 | 2018.11.27 - 29<br>단기간 번역 작업 | 2018.10.20 - 27</p>
          <h2>이외의 할동</h2>
          <p class="lead mb-5">필리핀 세부 사립고등학교 재학중 사진클럽 활동<br>다수의 학교 행사 및 세부 한인 성당 행사 사진 촬영<br>한국 예술대학교 사진 공모전 참가이력</p>
          <h2>봉사 할동</h2>
          <p class="lead mb-5">필리핀 세부 한인의 날 진행요원 자원봉사 | 2016.09.26 – 10.02<br>필리핀 세부 한인 영화제 홍보요원 자원봉사 | 2016.09.29 - 10.02<br>외교부 주체하 현지 학생 한글교육 실시 자원봉사 | 2017.05.14<br>필리핀 세부 기술대학교 자원봉사</p>
          <h2>언어 능력</h2>
          <p class="lead mb-5">Toelf 미국 영어 능력 평가 시험 88점 | 2018.04.28<br>Ielts 영국 영어 능력 평가 시험 6.0 | 2017.04.29</p>
          <h2>자격증</h2>
          <p class="lead mb-5"> 군복무중 굴삭기 운전 기능사 취득 | 2020.08.14</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Look about Skills</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Skills</h3>
        <h2 class="mb-5">Programming Languages and Tool</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img width= "50" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/768px-Python-logo-notext.svg.png">
          </span>
          <h3>
            <strong>Python</strong>
          </h3>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img width= "65" height="65" src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_html_icon_130541.png">
          </span>
          <h3>
            <strong>HTML</strong>
          </h3>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img width= "65" height="65" src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_css_icon_130661.png">
          </span>
          <h3>
            <strong>CSS</strong>
          </h3>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img width= "65" height="65" src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_vscode_icon_130084.png">
          </span>
          <h3>
            <strong>Visual Studio</strong>
          </h3>
          <!--<p class="text-faded mb-0">I mustache you a question...</p>-->
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Resume of Youngjin, Lee</h2>
      <a class="btn btn-primary btn-xl" href="https://docs.google.com/document/d/1q0jiKELC_QRuTOqOX2M0fM74N6ZP1x7y/edit">이력서 보기</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Project</h3>
        <h2 class="mb-5">완료 또는 현재 진행중인 프로젝트</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="{% url 'New' %}">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">블로그(진행중)</div>
                <p class="mb-0">장고 프레임을 이용해 만든 블로그</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio-5.png' %}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">와인 추천 사이트(완료)</div>
                <p class="mb-0">와인 회사에서 진행된 프로젝트로써 선택한 값을 토대로 와인을 추천 해주는 사이트</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/Winesite.jpg' %}" alt="">
          </a>
        </div>
        <!--
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Strawberries</div>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio-3.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Workspace</div>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio-4.jpg' %}" alt="">
          </a>
        </div>
      </div>
    </div>-->
  </section>

  <!-- Call to Action-->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">공동 프로젝트로 진행된 사이트</h2>
      <a href="http://cubelink.ga/" class="btn btn-xl btn-light mr-4">사이트 둘러보기</a>
      <!--<a href="#!" class="btn btn-xl btn-dark">Look at Me!</a>-->
    </div>
  </section>

  <!-- Map
    <div id="contact" class="map">
    <iframe src="https://www.google.com/search?q=%EA%B2%BD%EA%B8%B0%EB%8F%84%20%ED%92%8D%EB%AC%B4%20%ED%91%B8%EB%A5%B4%EC%A7%80%EC%98%A4&rlz=1C1SQJL_koKR834KR834&oq=%EA%B2%BD%EA%B8%B0%EB%8F%84+%ED%92%8D%EB%AC%B4+%ED%91%B8%EB%A5%B4%EC%A7%80%EC%98%A4&aqs=chrome..69i57j0i8i30.5441j0j7&sourceid=chrome&ie=UTF-8&safe=active&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=9248732737389078568&lqi=Ch3qsr3quLDrj4Qg7ZKN66y0IO2RuOultOyngOyYpFo0ChPtko3rrLQg7ZG466W07KeA7JikIh3qsr3quLDrj4Qg7ZKN66y0IO2RuOultOyngOyYpJIBE2NvbmRvbWluaXVtX2NvbXBsZXg&ved=2ahUKEwip4o-U0oTvAhWBE4gKHbdGDQEQvS4wAHoECAMQDA&rlst=f"></iframe>
    <br />
    <small>
      <a href="https://www.google.com/search?q=%EA%B2%BD%EA%B8%B0%EB%8F%84%20%ED%92%8D%EB%AC%B4%20%ED%91%B8%EB%A5%B4%EC%A7%80%EC%98%A4&rlz=1C1SQJL_koKR834KR834&oq=%EA%B2%BD%EA%B8%B0%EB%8F%84+%ED%92%8D%EB%AC%B4+%ED%91%B8%EB%A5%B4%EC%A7%80%EC%98%A4&aqs=chrome..69i57j0i8i30.5441j0j7&sourceid=chrome&ie=UTF-8&safe=active&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=9248732737389078568&lqi=Ch3qsr3quLDrj4Qg7ZKN66y0IO2RuOultOyngOyYpFo0ChPtko3rrLQg7ZG466W07KeA7JikIh3qsr3quLDrj4Qg7ZKN66y0IO2RuOultOyngOyYpJIBE2NvbmRvbWluaXVtX2NvbXBsZXg&ved=2ahUKEwip4o-U0oTvAhWBE4gKHbdGDQEQvS4wAHoECAMQDA&rlst=f"></a>
    </small>
  </div> -->
  

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/profile.php?id=100009310052517&viewas=100000686899395">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/jacob9910">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>

</body>

</html>
